apache-beam==2.58.1
async-timeout==4.0.3
attrs==24.2.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
crcmod==1.7
dill==0.3.1.1
dnspython==2.6.1
docopt==0.6.2
fastavro==1.9.5
fasteners==0.19
Flask==3.0.3
greenlet==3.0.3
grpcio==1.66.1
hdfs==2.7.3
httplib2==0.22.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
Js2Py==0.74
jsonpickle==3.2.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.5
numpy==1.26.4
objsize==0.7.0
orjson==3.10.7
packaging==24.1
pandas==2.2.2
proto-plus==1.24.0
protobuf==4.25.4
py4j==0.10.9.7
pyarrow==16.1.0
pyarrow-hotfix==0.6
pydot==1.4.2
pyjsparser==2.7.1
pymongo==4.8.0
pyodbc==5.1.0
pyparsing==3.1.4
pyspark==3.5.2
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.8
referencing==0.35.1
regex==2024.7.24
requests==2.31.0
rpds-py==0.20.0
six==1.16.0
SQLAlchemy==2.0.32
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
Werkzeug==3.0.4
zstandard==0.23.0
